CompileFlags:
  CompilationDatabase: Ancestors
  Add:
    - -std=c++20
    - -I.
    - -Iimgui
    - -Iimgui/backends
    - -Iglad/include
    - -Iglfw3/include
    - -Ixerces-c/src

Index:

  Background: Build

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU
